/* The navigation bar */

.navbar {
  overflow: hidden;
  background-color: #ff0000;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  left: 0;
  padding: 10px;
  font-size: 20;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
 display: flexbox;
 flex-direction: row;
}

body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}

.container {
  display: inline-block;
  margin: 100px auto 0;
  top: 0%;
}

.sidebar {
  display: inline-block;
  max-width: 150px;
  background-color: aqua;
  margin-top: 70px;
}
button{
  margin: 20px;
  padding: 20px;
}